-- Add missing columns to roadmaps table
ALTER TABLE roadmaps ADD COLUMN IF NOT EXISTS is_favorite BOOLEAN DEFAULT FALSE;
ALTER TABLE roadmaps ADD COLUMN IF NOT EXISTS share_token TEXT UNIQUE;

-- Verify columns exist
SELECT column_name, data_type, is_nullable, column_default 
FROM information_schema.columns 
WHERE table_name = 'roadmaps' 
ORDER BY ordinal_position;
